@model IQueryable<LeinCottage.Models.Photo>

@{
    ViewBag.Title = "Gallery";
}

<div id="blueimp-gallery" class="blueimp-gallery  blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links">
    @foreach (LeinCottage.Models.Photo photo in Model)
    {
        <a href="~/GalleryPhotos/@photo.Name" title="@photo.OriginalName">
            <img src="~/GalleryThumbnails/@photo.ThumbnailName" class="galery-thumbnail" />
        </a>
    }
</div>

<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>

@*<script>
    $(document).ready(function () {
        updateImageSize();
        $(window).resize(function () {
            updateImageSize();
        });
    });

    function updateImageSize() {
        var docWidth = $(window).width();
        console.log(docWidth    );
        if (docWidth < 520) {
            $(".galery-thumbnail").each(function () {
                $(this).css({ "max-width": "520px", "max-height": "auto" })
            })
        }
        else {
            $(".galery-thumbnail").each(function (thumb) {
                $(this).css({ "max-width": "200px", "max-height": "auto" })
            })
        }
    }
</script>*@
<script src="~/Scripts/blueimp-gallery.min.js"></script>
