@{
    ViewBag.Title = "Gallery";
}

<div id="blueimp-gallery" class="blueimp-gallery  blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links">
    <a href="~/BlueImpGalleryControls/photos/img(1).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(1).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
    <a href="~/BlueImpGalleryControls/photos/img(2).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(2).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
    <a href="~/BlueImpGalleryControls/photos/img(3).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(3).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
    <a href="~/BlueImpGalleryControls/photos/img(4).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(4).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
    <a href="~/BlueImpGalleryControls/photos/img(5).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(5).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
    <a href="~/BlueImpGalleryControls/photos/img(6).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(6).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
    <a href="~/BlueImpGalleryControls/photos/img(7).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(7).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
    <a href="~/BlueImpGalleryControls/photos/img(8).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(8).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
    <a href="~/BlueImpGalleryControls/photos/img(9).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(9).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
    <a href="~/BlueImpGalleryControls/photos/img(10).jpg" title="">
        <img src="~/BlueImpGalleryControls/photos/img(10).jpg" style="margin:5px; max-width:200px; max-height:200px;" class="galery-thumbnail" />
    </a>
</div>

<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>

@*<script>
    $(document).ready(function () {
        updateImageSize();
        $(window).resize(function () {
            updateImageSize();
        });
    });

    function updateImageSize() {
        var docWidth = $(window).width();
        console.log(docWidth    );
        if (docWidth < 520) {
            $(".galery-thumbnail").each(function () {
                $(this).css({ "max-width": "520px", "max-height": "auto" })
            })
        }
        else {
            $(".galery-thumbnail").each(function (thumb) {
                $(this).css({ "max-width": "200px", "max-height": "auto" })
            })
        }
    }
</script>*@
<script src="~/Scripts/blueimp-gallery.min.js"></script>
