@using LeinCottage.Resources

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="mainImageContainer">
    <img src="~/mainImage.jpg" class="full-width" />
</div>

<div class="row">
    <div class="col-md-4 homepage-info-column">
        <p class="justified">
            @GlobalResources.FirstHomePageInfo
        </p>
    </div>
    <div class="col-md-4 homepage-info-column">
        <p class="justified">
            @GlobalResources.SecondHomePageInfo
        </p>
    </div>
    <div class="col-md-4 homepage-info-column">
        <p class="justified">
            @GlobalResources.ThirdHomePageInfo
        </p>
    </div>
</div>

<script type="text/javascript">
    (function () {

        var img = document.getElementById('mainImageContainer').firstChild;
        img.onload = function () {
            if (img.height > img.width) {
                img.height = '100%';
                img.width = 'auto';
            }
        };
    }());
</script>